<template>
    <lightning-record-edit-form object-api-name='Sub_ToDo__c'>
        <div> 
            <lightning-input-field
                field-name={subtodoTodoField}
                value={selectedTodo}>
            </lightning-input-field>
           <lightning-input-field
                field-name={subtodoNameField}>
            </lightning-input-field>
            <lightning-input-field
                field-name={subtodoDescriptionField}>
            </lightning-input-field>
            <lightning-input-field
                field-name={subtodoDateField}>
            </lightning-input-field>
            <lightning-input-field
                field-name={subtodoPriorityField}>
            </lightning-input-field>
            <lightning-input-field
                field-name={subtodoCommentField}>
            </lightning-input-field>
        </div>
        <div class="slds-modal__footer">
            <lightning-button
                    class="slds-m-top_small"
                    variant="brand"
                    type="submit"
                    label="Create">
            </lightning-button>
        </div>
    </lightning-record-edit-form>    
</template>