<template>
    <lightning-record-edit-form
        record-id={selectedTodo}
        object-api-name={objectApiName}
        class="slds-p-around_medium">
        <lightning-messages>
        </lightning-messages>
        <lightning-input-field
            field-name={ownerField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={nameField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={descriptionField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={dateField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={priorityField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={statusField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={commentField}>
        </lightning-input-field>

        <div class="slds-var-m-top_medium slds-m-left_xx-small">
            <lightning-button
                variant="brand"
                type="submit"
                label="Save">
            </lightning-button>
        </div>
    </lightning-record-edit-form>      
</template>