<template>
    <lightning-record-edit-form
        record-id={selectedSubTodo}
        object-api-name={objectApiName}
        class="slds-p-around_medium">
        <lightning-input-field
            field-name={subtodoTodoField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={subtodoNameField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={subtodoDescriptionField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={subtodoDateField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={subtodoPriorityField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={subtodoStatusField}>
        </lightning-input-field>
        <lightning-input-field
            field-name={subtodoCommentField}>
        </lightning-input-field>

        <div class="slds-var-m-top_medium slds-m-left_xx-small">
            <lightning-button
                variant="brand"
                type="submit"
                label="Save">
            </lightning-button>
        </div>
    </lightning-record-edit-form>     
</template>