<template>
    <div class="slds-grid slds-gutters">
        <div class="slds-col">
            <lightning-card title="My ToDos List" icon-name="standard:event">
                <!-- Creating ToDo -->
                <lightning-button label="Create" onclick={showModal} class="slds-m-left_medium"></lightning-button>
                <lightning-button label="Create business" onclick={showModal} class="slds-m-left_medium"></lightning-button>
                <lightning-button label="Create" onclick={showModal} class="slds-m-left_medium"></lightning-button>
                <template if:true={openModal}>
                    <div class="slds-modal slds-fade-in-open slds-backdrop">
                        <div class="slds-modal__container">
                            <lightning-button-icon icon-name="utility:close"
                                            alternative-text="Close the window"
                                            size="large"
                                            variant="bare-inverse"
                                            title="Close"
                                            onclick={closeModal}> class="slds-modal__close"
                            </lightning-button-icon>
                            
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <c-todo-item 
                                onsuccess = {handleTodoCreation}>
                            </c-todo-item>
                        </div>
                        </div>
                    </div>
                </template> 
                
                <!-- ToDos list-->
                <template if:true={todoes}>
                    <div class="slds-var-m-top_medium slds-var-m-bottom_x-large">
                        <div class="slds-var-p-around_medium lgc-bg">
                            <lightning-tree items={todoes} header="ToDos" expanded=true onselect={handleSelect}></lightning-tree>
                        </div>
                    </div>     
                </template>
            </lightning-card>
        </div>

        <!-- Selected ToDo/SubToDo -->
        <div class="slds-col">
            <!-- Selected ToDo -->
            <lightning-card title="Current ToDo" icon-name="action:new_note">
                <template if:true={selectedTodo}>
                     <!-- Creating SubToDo -->
                    <lightning-button label="Create SubTodo" onclick={showModalSubTodo} class="slds-m-left_xx-small"></lightning-button>
                    <template if:true={openModalSubtodo}>
                        <div class="slds-modal slds-fade-in-open slds-backdrop">
                            <div class="slds-modal__container">
                                <lightning-button-icon icon-name="utility:close"
                                            alternative-text="Close the windos"
                                            size="large"
                                            variant="bare-inverse"
                                            onclick={closeModalSubTodo}> class="slds-modal__close"
                                </lightning-button-icon>

                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-subtodo">
                                    <c-subtodo-item 
                                        selected-todo={selectedTodo}
                                        onsuccess = {handleSubTodoCreation}>
                                     </c-subtodo-item>
                                </div>
                            </div>
                        </div>
                    </template> 

                    <!-- Selected ToDo-->
                    <c-todo-edit-item
                        selected-todo={selectedTodo}
                        onsuccess = {refreshList}>
                    </c-todo-edit-item>
                </template>

                <!-- Selected SubToDo -->
                <template if:true={selectedSubTodo}>
                    <c-subtodo-edit-item
                        selected-sub-todo={selectedSubTodo}
                        onsuccess = {refreshList}>
                    </c-subtodo-edit-item>
                </template>
            </lightning-card>   
        </div> 
    </div>
</template>