<template>
    <lightning-record-edit-form object-api-name={objectApiName}>   
        <div> 
            <lightning-input-field               
                field-name={nameField}>
            </lightning-input-field>
           <lightning-input-field
                field-name={descriptionField}>
            </lightning-input-field>
            <lightning-input-field
                field-name={dateField}>
            </lightning-input-field>
            <lightning-input-field
                field-name={priorityField}>
            </lightning-input-field>
            <lightning-input-field
                field-name={commentField}>
            </lightning-input-field>
        </div>
        <div class="slds-modal__footer">
            <lightning-button
                    class="slds-m-top_small"
                    variant="brand"
                    type="submit"
                    label="Create">
            </lightning-button>
        </div>
    </lightning-record-edit-form>    
</template>